footer {
    background-color: #8554dc;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.lign {
    background-color: #B29BCF;
    height: 5px;
}

li {
    list-style-type: none;
}


.logo {
    width: 100px;
    height: 100px;
}

.Social-media {
    display: flex;
    justify-content: center;
}

svg:hover {
    cursor: pointer;
}

svg {
    margin: 10px;
    width: 30px;
    height: 30px;
}

.separator {
    display: flex;
}